In [1]:
#sqlalchemy: Library that use Pandas to interact with RDBMS.
!uv add sqlalchemy
!uv add psycopg2-binary
# Dependencie to see the progress of an execution
!uv add tqdm

Resolved 120 packages in 17ms
Audited 14 packages in 9ms
Resolved 120 packages in 3ms
Audited 14 packages in 2ms
Resolved 120 packages in 2ms
Audited 14 packages in 3ms

In [29]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [3]:
pd.__file__

'C:\\Users\\Daniel\\Docker_workshop\\pipeline\\.venv\\Lib\\site-packages\\pandas\\__init__.py'

In [4]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f'{prefix}/yellow_tripdata_2021-07.csv.gz'

In [5]:
df = pd.read_csv(url)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_10820\4176769558.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-07-01 00:08:51,2021-07-01 00:13:05,1.0,0.8,1.0,N,90,68,1.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1.0,2021-07-01 00:22:39,2021-07-01 00:25:58,1.0,0.9,1.0,N,113,90,2.0,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1.0,2021-07-01 00:48:33,2021-07-01 00:54:58,1.0,2.8,1.0,N,88,232,2.0,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1.0,2021-07-01 00:59:44,2021-07-01 01:07:09,1.0,1.4,1.0,N,79,249,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1.0,2021-07-01 00:08:35,2021-07-01 00:16:28,0.0,2.0,1.0,N,142,238,1.0,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [36]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url, 
    dtype= dtype, 
    parse_dates= parse_dates
)

In [8]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [9]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2192779,2,2021-07-26 17:18:51,2021-07-26 18:11:19,2,14.21,3,N,79,1,1,68.0,1.0,0.0,16.61,13.75,0.3,99.66,0.0
1009016,2,2021-07-13 15:14:49,2021-07-13 15:21:26,6,0.87,1,N,237,162,1,6.0,0.0,0.5,1.86,0.00,0.3,11.16,2.5
1933108,2,2021-07-23 16:28:42,2021-07-23 16:46:06,1,1.93,1,N,100,249,2,12.0,1.0,0.5,0.00,0.00,0.3,16.30,2.5
1012593,1,2021-07-13 16:59:03,2021-07-13 17:10:04,1,1.40,1,N,170,68,1,8.5,3.5,0.5,1.55,0.00,0.3,14.35,2.5
2575076,2,2021-07-30 18:05:15,2021-07-30 18:16:10,1,2.14,1,N,230,158,1,9.0,1.0,0.5,2.66,0.00,0.3,15.96,2.5
1985142,2,2021-07-24 02:37:23,2021-07-24 02:51:11,1,3.91,1,N,79,237,1,13.5,0.5,0.5,2.00,0.00,0.3,19.30,2.5
449012,1,2021-07-07 06:00:56,2021-07-07 06:05:55,1,1.10,1,N,162,164,1,6.0,2.5,0.5,1.85,0.00,0.3,11.15,2.5
864768,1,2021-07-11 19:13:43,2021-07-11 19:17:35,1,0.60,1,N,236,262,1,4.5,2.5,0.5,1.55,0.00,0.3,9.35,2.5
525444,1,2021-07-07 20:20:09,2021-07-07 20:29:55,1,1.70,1,N,90,170,2,8.5,3.0,0.5,0.00,0.00,0.3,12.30,2.5
1062379,1,2021-07-14 08:59:54,2021-07-14 09:17:45,1,2.30,1,N,113,246,1,12.5,2.5,0.5,2.50,0.00,0.3,18.30,2.5

In [10]:
#stablish connection with PostgreSql

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
#Insert table without data into the PostgreSql server
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists = 'replace')

0

In [15]:
len(df)

2821515

In [16]:
# Its recommended when loading data into a database/server divide the data
# in partitions call 'Chunks' and load the data in a controlled way. 
df_iter = pd.read_csv(
    url, 
    dtype= dtype, 
    parse_dates= parse_dates, 
    iterator=True, 
    chunksize=100000
)

In [34]:
for chunks, df_chunk in enumerate(tqdm(df_iter)): 
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists = 'append')
    rows = len(df_chunk)
    print(f'df {chunks} with {rows} rows was appended succesfully!')

0it [00:00, ?it/s]

df 1 with 100000 rows was appended succesfully!
df 2 with 100000 rows was appended succesfully!
df 3 with 100000 rows was appended succesfully!
df 4 with 100000 rows was appended succesfully!
df 5 with 100000 rows was appended succesfully!
df 6 with 100000 rows was appended succesfully!
df 7 with 100000 rows was appended succesfully!
df 8 with 100000 rows was appended succesfully!
df 9 with 100000 rows was appended succesfully!
df 10 with 100000 rows was appended succesfully!
df 11 with 100000 rows was appended succesfully!
df 12 with 100000 rows was appended succesfully!
df 13 with 100000 rows was appended succesfully!
df 14 with 100000 rows was appended succesfully!
df 15 with 100000 rows was appended succesfully!
df 16 with 100000 rows was appended succesfully!
df 17 with 100000 rows was appended succesfully!
df 18 with 100000 rows was appended succesfully!
df 19 with 100000 rows was appended succesfully!
df 20 with 100000 rows was appended succesfully!
df 21 with 100000 rows was appended succesfully!
df 22 with 21515 rows was appended succesfully!

In [37]:
len(df)

2821515